* {
    color: white;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-top: 20px;
}

.frst-line-top {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    mat-slider {
        margin: 0 30px;
        width: 100%;
    }
     ::ng-deep .mat-slider-thumb,
     ::ng-deep .mat-slider-track-fill {
        background-color: #e91e63;
    }
     ::ng-deep .mat-slider-thumb-label {
        background-color: white;
    }
}

h2 {
    display: inline;
    font-size: 3vmin;
}

.nd-line-top {
  position: relative;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  height: 7vmin;
  flex-direction: row;
  div{
    position: absolute;
    button{
      margin: 0 2vmin 2vmin 2vmin;
      position: relative;
      top: -2vmin;
      width: 4vmin;
      height: 4vmin;
    }
    h1 {
      color: rgb(189, 189, 189);
      background-color: #222222;
      border-radius: 0 0 10px 10px;
      left: 47  vw;
      display: inline-block;
      font-size: 7vmin;
      margin: auto;
      width: auto;
      height: auto;
    }
  }
  h1::content {
      width: fit-content;
      padding: 2px 7px;

  }
  p {
      max-width: 25vw;
      max-height: 7vmin;
      margin:0 10vmin;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;


      align-self: flex-end;
  }
}

.logs-container {
    margin-top: 20vmin;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    max-width: 95vw;
    width: max-content;
    mat-card {

      display: flex;
      flex-direction: column;
      justify-content: flex-start;
        width: 94vw;
        max-height: 20vh;
        height: 20vh;
        margin: 1vh;
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
      transition: all .1s ease-in;


    }
    div{
      justify-content: center;
      align-content: center;
      width: 100vw;

    }
}
.logs-container>div>mat-card:hover{
    max-height: 30vh;
    height: 30vh;
}


ul {
    list-style: none;
}

li {
    margin: 10px;
}

mat-card-header {
    display: block;
    text-align: center;
}

mat-card-title {
  .log-title {
      font-size: 24px;
      @media only screen and (max-width:600px){
        font: size 2vmin;
      }
      font-family: 'Orbitron', sans-serif;
      font-weight: 400;
      letter-spacing: 1px;
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      text-shadow: 0 0 3px rgba($color: #ffffff, $alpha: 0.5);
  }
}


mat-card-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  justify-content: flex-start;
  overflow: hidden;
  p{
    text-align: start;
    font-family: 'Lato', sans-serif;
    font-size: 18;
    background-color: rgba($color: #000000, $alpha: 0.08);
    border-radius: 10px;
    padding: 10px 25px;
    margin: 0 !important;
    width: 80%;
    height: 100%;
    flex-grow: 0;
    margin: 2px 20px;
    color:white;
    letter-spacing: 1.5px;
    text-overflow: ellipsis;
    white-space: normal;
    word-wrap:break-word;
    overflow: hidden;
  }
  mat-card-footer{
    justify-self: flex-end;
    margin: auto;
    display: grid;
    width: 100%;
    margin-left: 15px;
    margin: 0 !important;

    grid-template-areas:
      "icons  . . time"
    ;
      .icons-div{
        grid-area: icons;
        width: fit-content;
        display: flex;
        justify-content: flex-start;
        align-content: flex-end;
        position: relative;
        bottom: 0;
        mat-icon{
          margin-top: auto;
      }
    }
    .time-div{
      grid-area: time;

      width: 100%;
      p{
        background-color: transparent;
        text-align: end;
      }
    }

  }
}
mat-divider {
    background-color: white;
}


.small-date{
  visibility: collapse;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
@media only screen and (max-height:750px){
  .logs-container {
    margin-top: 60px;
  }
  .day-names{
    top:40px;
    h3{
      font-size: 12px;
    }
  }
  mat-grid-list{
    margin-top: 66px !important;
     max-height: 95vh;
    height: 95vh;
  }
  .small-date{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: #700e35;
    visibility: visible !important;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    height: 50px;
    width: 40%;
    justify-content: space-evenly;
    mat-form-field{
      color: white !important;
      margin: 3px 1px;
      max-width: 31%;
    }
  }
}
